body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #263f5a;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.navbar{
    margin-bottom: 0px;
    align-items: center;
    background-color: #011c39;    
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar >div{
    display: inline-block;
    color: whitesmoke;
    margin: 15px 15px 5px 10px;
    padding-bottom: 20px;
}

.cover{
    background-image: url("../images/r6.jpg");
    height: 400px;
    color: whitesmoke;
    margin-top: 0px;
    justify-content: stretch;
}
#welcome{
    margin-top: 0;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 150px;
}

.message{
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.product{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
}

.product > div{
    margin-top: 20px;
}

button{
    cursor: pointer;
    width: 250px;
    border-radius: 20px;
    font-family: cursive;
    border: 3px solid steelblue;
}

.product1{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 12px;
    margin-left: 5px;
    box-shadow: 5px 5px 5px black;
    background-color: rgb(230, 213, 213);
}

.img1{
    width: 50px;
    height: 50px;
}

.product2{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 0.5px solid black;
    padding: 10px 10px 10px 10px;
    border-radius: 12px;
    margin-left: 5px;
    box-shadow: 5px 5px 5px black;
    background-color: rgb(230, 213, 213);
    /* color: whitesmoke; */
}

.img2{
    width: 50px;
    height: 50px;
}

.product3{
    margin-right: 5px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 0.5px solid black;
    padding: 10px 10px 10px 10px;
    border-radius: 12px;
    margin-left: 5px;
    box-shadow: 5px 5px 5px black;
    background-color: rgb(230, 213, 213);
    /* color: whitesmoke; */
}

.img3{
    width: 50px;
    height: 50px;
}

/* ......footer.......... */

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #011c39;
}

.footer >* {
    flex: 1 100%;
}
.footer-left{
    margin-right: 1.2em;
    margin-bottom: 2em;
}

.footer-left img{
    width: 50%;
}
h2{
    font-weight: 600;
    font-size: 17px;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer li{
    line-height: 2em;
}
.footer a{
    text-decoration: none;
}
.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 150%;
    margin-right: 1.25em;
}

.box a{
color: #999;
}

.footer-bottom{
    text-align: center;
    color: #999;
padding-top: 50px;
}

u:hover{
    cursor: pointer;
}

.footer-left p{
    padding-right: 20%;
    color: #999;
}
.socials a{
    background: #364a62;
    width: 40px;
    border-radius: 20px;
    height: 40px;
    display :inline-block;
    margin-right: 10px;
    
}

.socials i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}


@media screen and (min-width: 600px) {
    .footer-right >*{
        flex: 1;
    }
.footer-left{
    flex: 1 0px;
}
.footer-right{
    flex: 2 0px;
}

@media (max-width: 600px) {
    .footer{
        padding: 15px;
    } 
    main{
        font-size: 55px;
    }
 }
}



