
.bnkname{
    border-right: 1px solid whitesmoke;
    padding-right: 15px;
}

.logo img{
    margin-left: 40px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.navbar{
    margin-left: 0px;
    align-items: center;
    background-color: #011c39;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar >div{
    display: inline-block;
    color: whitesmoke;
    margin: 15px 15px 5px 10px;
    padding-bottom: 20px;
}

.deposit-form{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr;
    width: 400px;
    height: 400px;
    display: flex;
}


.Depo{
    border: 1px solid blue;
    width: 200px;
    height: 200px;
    /* background-color: #011c39; */
}

#text{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    /* color: whitesmoke; */
}

#transaction{
    font-weight: 700;
    padding-top: 50px;

}

